
@model UI.Models.Register.IndexModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @{
        ViewData["Title"] = "注册";
    }
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <label>
                用户名：
            </label><br />
            @Html.TextBoxFor(m => m.Username)<br />
            <span>@Html.ValidationMessageFor(m => m.Username)</span>
            <br />
            <label>
                密码：
            </label><br />
            @Html.TextBoxFor(m => m.Password)<br />
            <span>@Html.ValidationMessageFor(m => m.Password)</span>
            <br />
            <label>
                确认密码：
            </label><br />
            @Html.TextBoxFor(m => m.PasswordConfirm)<br />
            <span>@Html.ValidationMessageFor(m => m.PasswordConfirm)</span>
            <br />
            <label>
                验证码：
            </label><br />
            @Html.TextBoxFor(m => m.Captcha)<br /><img src="/Captcha/Get" />
            <a href="#">看不清楚</a>
            <br />
            <span>@Html.ValidationMessageFor(m => m.Captcha)</span>



            <br />
            <br />
            <button type="submit">提交</button>
            <button type="reset">重置</button>
        }
    </div>

 

</body>
</html>
