@model UI.Models.Blogs.SingleModel

<!DOCTYPE html>
<html>
<head>


    <title>@Model.Title</title>
</head>
<body>

    <div>
        <h2>@Model.Title</h2>
        <p>
            发布时间：@Model.BlogTime
            <span class="text-info">|     作者：@Model.BlogAuthor</span>
            <span class="pull-right">
                <a href="/Blog/Delete?id=@Model.Id" class="btn-default">删除</a>
                <a asp-action="List" class="btn-default">返回</a>
            </span>
        </p>


    </div>

    <p class="text-capitalize">@Model.Body</p>
    <hr />

    <h4>Comment</h4>

    @*@if (Model.Posts != null)
    {
        @foreach (var item in Model.Posts)
        {

            <p>@item.CreatedTime <span class="text-info">@item.Poster.UserName</span></p>

            <p>@item.Body</p>
            <hr />
        }
    }*@
    <hr />

    <div id="comments">

    </div>

    <h5>Keywords</h5>
    @if (Model.Posts != null)
    {
        @foreach (var item in Model.Keywords)
        {
            <a href="#" class="text-info">@item.KeyWord.KeywordContent</a>

            <hr />
        }
    }


    @using (Html.BeginForm(FormMethod.Post,new { id="postform"}))
    {
        <label>发表评论</label>
        <br />
        @Html.TextAreaFor(m => m.Post.Body)
        <br />
        <button type="submit" id="btn-post">提交</button>
    }


    <script>
        //load方法
        //$('#comments').load("/Blog/Posts?id=@Model.Id")
        //get方法
        $.get("/Blog/Posts?id=@Model.Id", function (data) {
            $('#comments').html(data);
        });

        $(document).ready(function () {
            $('#btn-post').click(function () {
                $.post('/Blog/Single?id=@Model.Id', $('#postform').serialize())
            })
        })

     
        //$.post("/Blog/Single?id=@Model.Id", $ ("postform").serialize);//光这样写 就算不点击提交  form表单也提交至后台了

      
        

    </script>






</body>
</html>
