@model UI.Models.Blogs.SingleModel
<div>
    <h2>@Model.Title</h2>
    <span>@Model.BlogTime</span>
    <span>@Model.BlogAuthor</span>
</div>
<p>@Model.Body</p>

<h3>Comment</h3>
@if (Model.Posts != null)
{
    @foreach (var item in Model.Posts)
    {
        <p>@item.Body</p>
        <p>@item.CreatedTime</p>
        <p>@item.Poster.UserName</p>
        <hr />
    }
}
<h3>Keywords</h3>
@if (Model.Posts != null)
{
    @foreach (var item in Model.Keywords)
    {
        <p>@item.KeyWord.KeywordContent</p>
      
        <hr />
    }
}


@using (Html.BeginForm())
{
    <label>发表评论</label><br />
    @Html.TextAreaFor(m => m.Post.Body)
    <br />
    <button type="submit">提交</button>
}



