@model UI.Models.Blogs.SingleModel

<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>

    <div>
        <h2>@Model.Title</h2>
        <p>
           发布时间：@Model.BlogTime 
            <span class="text-info">|     作者：@Model.BlogAuthor</span>   
            <span class="pull-right">
                <a href="/Blog/Delete?id=@Model.Id" class="btn-default">删除</a>
                <a asp-action="List" class="btn-default">返回</a>
            </span>
        </p>


    </div>

    <p class="text-capitalize">@Model.Body</p>
    <hr />

    <h4>Comment</h4>
    @if (Model.Posts != null)
    {
        @foreach (var item in Model.Posts)
        {

            <p>@item.CreatedTime <span class="text-info">@item.Poster.UserName</span></p>

            <p>@item.Body</p>
            <hr />
        }
    }
    <h5>Keywords</h5>
    @if (Model.Posts != null)
    {
        @foreach (var item in Model.Keywords)
        {
            <a href="#" class="text-info">@item.KeyWord.KeywordContent</a>

            <hr />
        }
    }


    @using (Html.BeginForm())
    {
        <label>发表评论</label>
        <br />
        @Html.TextAreaFor(m => m.Post.Body)
        <br />
        <button type="submit">提交</button>
    }







</body>
</html>
