@model UI.Models.Blogs.SingleModel

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
    <script>
        //load方法
        //$('#comments').load("/Blog/Posts?id=Model.Id")
        //get方法
        //获取评论

        //$(document).ready(function () { $('#btn-post').click(post) })



        $.post('/Blog/Posts?id=@Model.Id', function (data) {
            $('#comments').html(data)
        })




        $.post("/Blog/CountOfGood?id=@Model.Id", function (data) {
            $('#zanCount').html(data)
        })


        //var dianzan = $.post('/Blog/Good?id=@Model.Id&userid=@Model.CurrentUserId', function (data) { '#zanCount'.html(data) }
        //提交评论 这样评论添加了 但是页面没有显示


        $(document).ready(function () {
            $('#btn-post').click(function () {
                $.post('/Blog/Single?id=@Model.Id', $('#postform').serialize(), function () { alert('评论成功') })
            })
        })

        @*$(document).ready(function () {
            function ()  { $.post('/Blog/Good?id=@Model.Id&userid=@Model.CurrentUserId', function (data) { '#zanCount'.html(data) }}
        })*@

        $(document).ready(function () {
            $('#blog-good-btn').click(function () {
                $.post('/Blog/Good?id=@Model.Id&userid=@Model.CurrentUserId', function () {
                       $.post("/Blog/CountOfGood?id=@Model.Id", function (data) {
            $('#zanCount').html(data)
        });
            })

            })
        })


        //$.post("/Blog/Single?id=Model.Id", $ ("postform").serialize);//光这样写 就算不点击提交  form表单也提交至后台了



    </script>

</head>
<body>

    <div>
        <h2>@Model.Title</h2>
        <p>
            发布时间：@Model.BlogTime
            <span class="text-info">|     作者：@Model.BlogAuthor</span>
            <span class="pull-right">
                <a href="/Blog/Delete?id=@Model.Id" class="btn-default">删除</a>
                <a asp-action="List" class="btn-default">返回</a>
            </span>
        </p>
    </div>

    <div style="padding-top:25px;border:2px,dashed,black">
        <p>@Model.Body</p>


        <button type="button" id="blog-good-btn" class="btn-link" style="width:60px">赞(<p id="zanCount"></p>)</button>

        <hr />
    </div>


    <h4>Comment</h4>

    <div id="comments"> </div>

    <!-- #region 同步取Post -->
    @*@if (Model.Posts != null)
        {
                @foreach (var item in Model.Posts)
                {

                    <p>@item.CreatedTime <span class="text-info">@item.Poster.UserName</span></p>

                    <p>@item.Body</p>
                    <hr />
                }
            }*@
    <!-- #endregion -->

    <hr />



    <h5>Keywords</h5>
    @if (Model.Keywords != null)
    {
        @foreach (var item in Model.Keywords)
        {
            <a href="#" class="text-info">@item.KeyWord.KeywordContent</a>

            <hr />
        }
    }

    @* 异步提交评论，交给服务器处理，返回新的评论列表 *@
    @using (Html.BeginForm(FormMethod.Post, new { id = "postform" }))
    {
        <label>发表评论</label>
        <br />
        @Html.TextAreaFor(m => m.Post.Body)
        <br />
        <button type="submit" id="btn-post">提交</button>
    }









</body>
</html>
